################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FizzBuzz/obj
/FizzBuzz/bin/Debug/net5.0
